In [2]:
import pandas as pd

df = pd.read_csv("score.csv", index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   95  95  95          C#

##  DataFrame 확인
### 계산 가능한 데이터에 대해 Column 별로 갯수, 평균, 표평, 최소/최댓값 등 정보 --> R에서의 str 과 유사

In [3]:
df.describe()

                키          국어          영어         수학         과학         사회
count    8.000000    8.000000    8.000000    8.00000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.87500  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.93051  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.00000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.75000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.00000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   95.00000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.00000  95.000000  95.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

In [6]:
df.head() # 처음 5개 row --> R에서의 head/tail 과 동일

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [9]:
df.values

array([['채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['윤대협', '능남고', 190, 100, 85, 95, 95, 95, 'C#']], dtype=object)

In [10]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

In [11]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [12]:
df.shape

(8, 9)

In [13]:
# Series의 경우, df['키'].describe(), min(), max() 등으로 똑같이 사용 가능

In [15]:
df['SW특기'].count()

6

In [16]:
df['학교'].nunique() # factor랑 비슷!

2