In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], 
                 index = ['a','b','c','d'])

In [2]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
print(data[0:2])
print(data[['a','b','c']])

a    0.25
b    0.50
dtype: float64
a    0.25
b    0.50
c    0.75
dtype: float64

In [8]:
area = pd.Series({'california': 423967, 'texas':695662, 'new york': 141297, 'Florida':170312,
                  'Illinois': 149995})
pop = pd.Series({'california': 38332521, 'texas':26448193, 'new york': 19651127, 'Florida':19552860,
                  'Illinois': 12882135})
data= pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
california  423967  38332521
texas       695662  26448193
new york    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [11]:
data['area'] # = data.area 해도 됨

california    423967
texas         695662
new york      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [13]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
california  423967  38332521   90.413926
texas       695662  26448193   38.018740
new york    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [15]:
data.values
data.T # trasnpose matrix

           california         texas      new york       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [20]:
data.iloc[:3,:2]

              area       pop
california  423967  38332521
texas       695662  26448193
new york    141297  19651127

In [21]:
data.loc[data.density > 100, ['pop','area']]

               pop    area
new york  19651127  141297
Florida   19552860  170312